/* Colors follow the Solarized theme, popular with coders */
body {
	color: #b0baba;
	background-color: #092a33;
	font-family: sans-serif;
	text-align: center;
	list-style: inside;
	width: 100%;
}

/* Header should fill screen width on mobile, but it does not. */
body header, footer {
	background-color: #03222a;
	padding: 20px;
	width: 100%;
}

/* Fancy font in header */
body header {
	font-family: "Trebuchet MS",sans-serif;
	margin-bottom: 20px;
}

body footer {
	margin-top: 20px;
}

header * {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	color: #2aa198;
}

h2 {
	color: #b58900;
}

/* Extra space around links */
.spacey {
	margin: 20px;
}

.tall {
	height: 1em;
	padding-top: 100px
}

/* Place text on the left side of a column which is centered */
div.contents-left {
	margin: 20px;
	text-align: left;
	width: 50%;
	display: inline-block;
}

div.center-contents {
	text-align: center;
	width: 100%;
}

img {
	margin: 20px;
}

/* Make links bigger */
a {
	font-size: 1.25em;
	font-weight: bold;
}

a:link {
	color: cyan;
}

a:hover {
	color: magenta;
}

a:visited {
	color: limegreen;
}

.center {
	text-align: center;
}

.nodec {
	list-style-type: none
}

.emphatic {
	font-style: italic;
	font-size: 1.5em;
	color: orange;
}

.hidden {
	display: none;
}