body {
	color: #b0baba;
	background-color: #092a33;
	font-family: sans-serif;
	text-align: center;
	list-style: inside;
}

body header, footer {
	background-color: #03222a;
	padding: 20px;
	width: 100%;
}

body header {
	font-family: "Trebuchet MS",sans-serif;
}

body footer {
	margin-top: 20px;
}

body header .name {
	font-size: 3em;
}

body header .description {
	font-size: 1.5em;
}

header * {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	color: #2aa198;
}

h2 {
	color: #b58900;
}

.spacey {
	margin: 20px;
}

.tall {
	height: 1em;
	padding-top: 100px
}

div.never {
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

div.contents-left {
	margin: 20px;
	text-align: left;
	width: 50%;
	display: inline-block;
}

div.center-contents {
	text-align: center;
	width: 100%;
}

img {
	margin: 20px;
}

a {
	font-size: 1.25em;
	font-weight: bold;
}

a:link {
	color: cyan;
}

a:hover {
	color: magenta;
}

a:visited {
	color: limegreen;
}

.center {
	text-align: center;
}

.nodec {
	list-style-type: none
}

.emphatic {
	font-style: italic;
	font-size: 1.5em;
	color: orange;
}